body {
    background-color: rgb(102, 198, 172);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    margin: auto, 0;
    max-width: 1280px;
}

.user{
    background-color: aqua;
    height: 130px;
    width: 100px;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    /* padding-top: 25px; */
   text-align: start;
   line-height: 20px;
}

.users{
    display: flex;
    flex-wrap: wrap;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    top: 50px;
}

.search input{
    height: 25px;
    border-radius: 50px;
    border: solid 1px #333;
}

.search button{
    height: 25px;
    font-size: 18px;
    background-color: aquamarine;
    color: #333;
    margin: 10px;
    border-radius: 20px;
}

.search button:hover{
    background-color: #333;
    color: antiquewhite;
    cursor: pointer;
}